<ion-header>
  <ion-toolbar color="dark">
       <ion-buttons slot="start">
	  <ion-back-button></ion-back-button>
	</ion-buttons>
    <ion-title>Listagem de Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
   <ion-item *ngFor="let categoria of listaCategorias">
     <ion-label>
	 <p> <strong> ID: </strong> {{categoria.id }}</p> 
	 <p> {{categoria.nome }}</p> 
	 </ion-label>
   
    <ion-note slot="end" color="light">
	   <ion-icon name="create-outline" [routerLink]="'/categorias/alterar/' + categoria.id"></ion-icon>
	   <ion-icon name="trash-outline" (click)="presentConfirm(categoria.id)"></ion-icon>
	</ion-note>
   </ion-item>
   
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
     <ion-fab-button color="danger" routerLink="/categorias/cadastrar">
	    <ion-icon name="add"></ion-icon>
	 </ion-fab-button>
   </ion-fab>
</ion-content>
