<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Vinicius Lima
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
      <ion-row>
	    <ion-col>
		   <ion-button color="dark" expand="block" fill="outline" routerLink="/categorias/listar">
		      <div>
			    <img src="./../assets/categorias.png">
				<p> Categorias </p>
			  </div>
		   </ion-button>
		</ion-col>
		
		<ion-col>
		   <ion-button color="dark" expand="block" fill="outline">
		      <div>
			    <img src="./../assets/produtos.png">
				<p> Produtos </p>
			  </div>
		   </ion-button>
		</ion-col>
	  </ion-row>
	  
	  <ion-row>
	    <ion-col>
		   <ion-button color="dark" expand="block" fill="outline">
		      <div>
			    <img src="./../assets/clientes.png">
				<p> Clientes </p>
			  </div>
		   </ion-button>
		</ion-col>
		
		<ion-col>
		   <ion-button color="dark" expand="block" fill="outline">
		      <div>
			    <img src="./../assets/pedidos.png">
				<p> Pedidos </p>
			  </div>
		   </ion-button>
		</ion-col>
	  </ion-row>
	  
	  <ion-row>
	    <ion-col>
		   <ion-button color="dark" expand="block" fill="outline">
		      <div>
			    <img src="./../assets/cidades.png">
				<p> Cidades </p>
			  </div>
		   </ion-button>
		</ion-col>
		
		<ion-col>
		</ion-col>
	  </ion-row>
  </ion-grid>

</ion-content>
